.ball{background-color: #4e2a84; width: 140px;height: 140px; position: absolute; top: 0;left: 0; border-radius: 50%;-webkit-animation: ball 1s linear infinite;animation: ball 1s linear infinite}


.bobbingimage {
     
        -webkit-animation: ball 1s linear infinite;animation: ball 1s linear infinite
    }

    @keyframes ball{
        0%{top :0;left: 0;}
        50%{left: 0; top: calc(100% - 140px);}
        25%{top: calc(100% - 140px); left: calc(100% - 140px);}
        75%{left: calc(100% - 140px);top:0 ;}
        100%{top: 0;left: 0;}
    }



@keyframes bobbingAnim {
    0% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }

    50% {
        transform: translate(0px, 12px);
        animation-timing-function:ease-in-out
    }

    100% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 }