

.list-inline-item{
    border: 1px solid white;
    border-radius: 20px ;
    padding: 5px 40px ;
    margin: 0px 20px;
    margin-top: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.nav-item {
    position: relative;
  }

.nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #61bdfb, #3292ec);
    box-shadow: 0 0 20px 0 #fbbd61;
    position: absolute;
    bottom: 0;
    left: 0;
  }

.nav-item:hover::after {
    width: 100%;
    transition: width 0.3s linear;
  }
.nav-item.active::after {
    width: 100%;
  }
.nav-link {
    font-weight: 300;
    font-size: 14px;
  }
   .nav-tabs .nav-link.active {
    border-color: transparent;
  }

   .nav-item .nav-link {
    color: #4a4a4a;
  }

   .nav-link.active::after {
    width: 100%;
  }

   .nav-item:hover .nav-link::after {
    width: 100%;
  }

 .nav-tabs .nav-link:hover {
    border-color: transparent;
  }
