.team__item__1 .team__item__overplay{opacity: 0; visibility: hidden;}
.team__item__1:hover .team__item__overplay{opacity: 1;visibility: visible; transition-property:all; transition-duration: 0.5s; transition-timing-function: linear; transition-delay:0.5; top: 0;}
.team__item:hover .team__item__info{display: none;}
.team__item__info{background-color: #e83e8c;color: #FFF;padding: 20px;position: absolute;bottom: 0px;left: 0px;width: 100%;}
.team__item__overplay{position:absolute;width: 100%; height: 100%; background-color: rgba(0, 0,0, 0.7); top: -100%; left: 0; display: flex; flex-direction: column; justify-content: center;line-height: 30px; padding: 0px 20px;}
.team__item__overplay h3 {color: #e83e8c}
.team__item__overplay p , .team__item__overplay span{color: #FFF;}
.team__item__1 p {font-size: 14px;}

.team__item__1 .card-body h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}